.centerpls {
    text-align:center;
}
.pushitdown {
    margin-top:10px;
}
.backcolour {
    background-color: darkkhaki;
}
.nodot {
    list-style: none;
}

.gif_exercise{
    display: inline;
    width: 50%;
}

.name_exercise{
    display: inline;
    margin-left: 3%;
}

.left_align{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
}

#padding_left_none {
    padding-left: 0;
}