.centerpls {
    text-align:center;
}
.pushitdown {
    margin-top:10px;
}
.backcolour {
    background-color: teal;
}
.nodot {
    list-style: none;
}

.exercise_table {
    width: 90%;
    margin-left:10%;
}
.recording_table {
    width: 80%;
    margin-left: 10%;
}

.name_exercise{
    display: inline;
    margin-left: 30%;
}

.plus_btn{
    width: 88px;
    
}

.gif_exercise{
    display: block;
    width: 100%;
}

.exercise_name_width{
    width: 20%;
}

.exercise_plan_width{
    width: 10%;
}

#align_exercise_btn{
    padding-left: 28px;
    padding-right: 28px;
}

.left_align{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
}

#padding_left_none {
    padding-left: 0;
}
.fullrowbutton {
    width: 100%;
}
.backcolourbuttons {
    background-color: #007BFF;
}
.backcolourbuttonsNavBar{
    background-color: #28A745;
}
.separateButton {
    margin-left: 15px;
}


.rowtest:after {
    content: "";
    display: table;
    clear: both;
}
.columntest {
    float: left;
    width: 33.33333333333%;
}
.skaler {
    width: 100%;
    height: 4rem;
}
.footer-btn:hover {
    color: #000;
    border-color: #000;
}
.MakeProfileButtonsBigger {
    font-size: 30px;
    color: #000;
}
hr {
    border-width: 15px;
    border: solid;
}
.TextAlignInButton {
    font-size: 30px;
    font-weight: bold;
}
.TextAlignInButtonNav {
    font-size: 20px;
    font-weight: bold;
    color:#000;
}
.addBorderToButton {
   border-right: 2px solid;
}