<!DOCTYPE html>
<html lang="en">
<head>
    <!--Bootstrap + CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/style.css">
    <!--VUE-->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="referer" content="no-referer">
    <title>SuperMuskler 4000</title>
</head>
<body>
    <!--Menu buttons-->
    <nav class="backcolourbuttonsNavBar"> <!--changes the background colour of the nav buttons to green-->
        <div class="rowtest"> 
            <form action="">
                <div class="columntest"> <!--float left with width of 33.33 to make space for 3 buttons-->
                    <input type="submit" formaction="Exercises.html" value="Exercises" class="btn btn-success skaler footer-btn TextAlignInButtonNav addBorderToButton">
                </div>
            </form>
            <form action="">
                <div class="columntest">
                    <input type="submit" formaction="Profile.html" value="Profile" class="btn btn-success skaler footer-btn TextAlignInButtonNav addBorderToButton">
                </div>
            </form>
            <form action="">
                <div class="columntest">
                    <input type="submit" formaction="index.html" value="Log Out" class="btn btn-success skaler footer-btn TextAlignInButtonNav">
                </div>
            </form>
        </div>
    </nav>
    <div class="centerpls pushitdown"> <!--Pushed the content down and center aligns-->
        <div id="app">
        <br>
         
            <!--Used to select the search criteria for the muscle group, so the exercises are for that muscle group-->
            <select v-model="search_muscle">
                <option disabled hidden value="Choose your Muscle Group">Choose your Muscle Group</option>
                <option value="abdominals">Abdominals</option>
                <option value="abductors">Abductors</option>
                <option value="adductors">Adductors</option>
                <option value="biceps">Biceps</option>
                <option value="calves">Calves</option>
                <option value="chest">Chest</option>
                <option value="forearms">Forearms</option>
                <option value="glutes">Glutes</option>
                <option value="hamstrings">Hamstrings</option>
                <option value="lats">Lats</option>
                <option value="lower_back">Lower back</option>
                <option value="middle_back">Middle back</option>
                <option value="neck">Neck</option>
                <option value="quadriceps">Quadriceps</option>
                <option value="traps">Traps</option>
                <option value="triceps">Triceps</option>

            </select>
            <br>
            <!--When the button is pressed, it returns 10 different exercises based off of the above search criteria.-->
            <button class="btn btn-primary pushitdown TextAlignInButtonNav" id="align_exercise_btn" v-on:click="GetAllExercises(search_muscle)">Get the Exercises</button>
            <br>


            <!--The list of different exercises, based off the above search criteria-->
            <h1>Exercise List</h1>
                <ul id="padding_left_none" v-if="exercise_list.length > 0">

                    <!--Used to put exercise name into tables, so future features show up in equal spacing everywhere, no matter how long the exercise name is-->
                    <div>
                        <hr>
                        <!--This v-for loop finds the exercises from exercise_list and has an index value, that is based off of the
                        number of exercises in exercise_list. From here it saves index value in the vue.js data "exerciseToShow".-->
                        <li class="nodot" v-for="(exercise, index) in exercise_list" @click="exerciseToShow = index">
                            <div>
                                <br>
                                <table class="exercise_table">
                                    <tr>
                                        <th class="exercise_name_width">Exercise Name</th>
                                    </tr>
                                        <td>
                                            <div class="name_exercise" @click="exerciseToShow =index">{{exercise.name}}</div>
                                            
                                        </td>
                                  <button @click="PostVideos(exercise.name)">testo</button>      
                                </table>
                                
                            </div>
                            
                            <!--The insctructions that pop up, when the exercise name is clicked on. It works by using the v-show bool
                                to only turn true for the exercise that has the same index as the exerciseToShow-->
                                <div v-show="exerciseToShow == index">
                                    <div class="left_align">
                                    <b>Type:</b> {{exercise.type}}
                                    <br>
                                    <b>Equipment:</b> {{exercise.equipment}}
                                    <br>
                                    <b>Difficulty:</b> {{exercise.difficulty}}
                                    <br>
                                    <b>Instructions:</b> {{exercise.instructions}}
                                    </div>
                            </div>
                            <button class="btn btn-secondary">Learn more</button>
                            <hr>
                        </li>
                </ul>
            <!--Message that shows up if there are no exercises-->
            <div v-else style="font-style: italic;">Please select a muscle group you wish to train</div>
        </div>


        <script src="js/index.js"></script>
    </div>
</body>
</html>