<!DOCTYPE html>
<html lang="en">
<head>
    <!--Bootstrap + CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/style.css">
    <!--VUE-->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperMuskler 4000</title>
</head>
<body>
    <div id="app">
        <!--Prints a list of the different exercises, based off your selected search criteria-->
        <select v-model="search_muscle">
            <option disabled hidden value="Choose your Muscle Group">Choose your Muscle Group</option>
            <option value="abdominals">Abdominals</option>
            <option value="biceps">Biceps</option>
            <option value="forearms">Forearms</option>
        </select>
        <br>
        <button class="btn btn-primary" v-on:click="GetAllExercises(search_muscle)">Get all Exercises</button>
        <br>


        <!--The list of different exercises, based off the above search-->
        <h1>Exercise List</h1>
            
        <ul v-if="exercise_list.length > 0">

        <li v-for="(exercise, index) in exercise_list">
            <div>
               <div @click="exerciseToShow =index">{{exercise.name}}</div>
            </div>
            <div v-show="exerciseToShow == index">
              <b>Type:</b> {{exercise.type}}
              <br>
              <b>Equipment:</b> {{exercise.equipment}}
              <br>
              <b>Difficulty:</b> {{exercise.difficulty}}
              <br>
              <b>Instructions:</b> {{exercise.instructions}}
            </div>
        </li>
        </ul>
        <div v-else style="font-style: italic;">Please select a muscle group you wish to train
        </div>

        <button class="btn btn-primary" v-on:click="GetGifs">Testo</button>
        <!-- <div>{{info}}</div> -->
        <img src="require({{info.preview_url}})" alt="">



    </div>



    <script src="js/index.js"></script>
</body>
</html>