<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/style.css">
    <!--VUE-->
    <script src="https://unpkg.com/vue@next"></script>
    <!--Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <nav class="backcolourbuttonsNavBar">
            <div class="rowtest">
                <form action="" method="get">
                    <div class="columntest">
                        <input type="submit" formaction="Exercises.html" value="Exercises" class="btn btn-success skaler footer-btn TextAlignInButtonNav">
                    </div>
                </form>
                <form action="" method="get">
                    <div class="columntest">
                        <input type="submit" formaction="Profile.html" value="Profile" class="btn btn-success skaler footer-btn TextAlignInButtonNav">
                    </div>
                </form>
                <form action="" method="get">
                    <div class="columntest">
                        <input type="submit" formaction="index.html" value="Log Out" class="btn btn-success skaler footer-btn TextAlignInButtonNav">
                    </div>
                </form>
            </div>
        </nav>
        <div class="rowtest columntest">
            <a class="btn btn-warning TextAlignInButton skaler footer-btn" href="Profile.html">Back</a>
        </div>


        <div class="centerpls">
        <br>
            <button class="btn btn-primary pushitdown TextAlignInButtonNav columntest" id="exerciselistbtn" v-on:click="GetPersonalList">View your exercise List</button>
        </div>
        
        <ul id="padding_left_none" v-if="YourExerciseList.length > 0">
            
                <li class="nodot" v-for="(exercises, index) in YourExerciseList">
                    <div>
                        
                        <br>
                            <table class="exercise_table" id="blackLine">
                                <td>
                                    
                                    <h2 class="centerpls" @click="exerciseToShow =index">{{exercises.name}}
                                    </h2>
                                    <button class="btn btn-secondary name_exercise" v-show="exerciseToShow != index" @click="exerciseToShow = index">Learn more</button>
                                                
                                </td>                                    
                            </table>  

                                <!--The insctructions that pop up, when the exercise name is clicked on. It works by using the v-show bool
                                to only turn true for the exercise that has the same index as the exerciseToShow-->
                            <div v-show="exerciseToShow == index">
                                <div class="left_align">
                                    <b>Type:</b> {{exercises.type}}
                                    <br>
                                    <b>Equipment:</b> {{exercises.equipment}}
                                    <br>
                                    <b>Difficulty:</b> {{exercises.difficulty}}
                                    <br>
                                    <b>Instructions:</b> {{exercises.instructions}}
                                </div>
                                <br>
                            </div>
     
                    </div>
                    <hr>  
               </li>
            
        </ul>
        <script src="js/index.js"></script>
    </div>

</body>
</html>