<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="referer" content="no-referer">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="CSS/style.css">
        <!--VUE-->
        <script src="https://unpkg.com/vue@next"></script>
        <!--Axios-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
<div id="app">
    <div> <!--updated navigation bar-->
        <nav class="backcolourbuttonsNavBar">
            <div class="rowtest">
                
                    <div class="columntest">
                        <input type="submit" formaction="Exercises.html" value="Exercises" class="btn btn-success skaler footer-btn TextAlignInButtonNav addBorderToButton">
                    </div>
                    <div class="columntest">
                        <input type="submit" formaction="Profile.html" value="Profile" class="btn btn-success skaler footer-btn TextAlignInButtonNav addBorderToButton">
                    </div>
                    <div class="columntest">
                        <input type="submit" formaction="index.html" value="Log Out" class="btn btn-success skaler footer-btn TextAlignInButtonNav addBorderToButton">
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <!--Basic profile information to give the idea of a profile page-->
    <div class="centerpls">
        <p class="pushitdown">Name: Kate Fransen</p>
        <p>Email: KateFransen@gmail.com</p>
    
        <br>
        <br>
    
        <!--Gets videofiles from database on button click through a for loop-->
        <button class="btn btn-primary pushitdown TextAlignInButtonNav" id="align_exercise_btn" v-on:click="GetVideos()">View your recordings</button>
    </div>
    <ul id="padding_left_none" v-if="yourRecordings.length > 0">
        <hr>
            <li class="nodot" v-for="(recordings, index) in yourRecordings">
                <div>
                    <br>
                        <table class="exercise_table">
                            <td>
                                <h2 class="centerpls">{{recordings.name}}
                                </h2>
                                    <video loop autoplay v-bind:src="recordings.videoLink" class="gif_exercise" ></video>
                                    
                                            
                            </td>                                    
                        </table>  
                        <hr>       
                </div>
           </li>
        
    </ul>
</div>
<script src="js/index.js"></script>
</body>
</html>